### Serverless ###
# Ignore build directory
.serverles
*.yml

# Ignore S3 local directory
.buckets

### Node ###
# Dependency directories
node_modules/

# Webpack
.webpack

# TypeScript
*.js
*.js.map
!app/app.js

# Resources
fonts/

### Front-end ###
# HTML
*.html

# Images
*.jpg

# Styles
*.css

### OS ###
# macOS
.DS_Store
