### Serverless ###
# Ignore build directory
.serverless

### Node ###
# Dependency directories
node_modules/

# Webpack
.webpack

# Configuration
.env

# TypeScript
*.js
*.js.map
!app/app.js

### OS ###
# macOS
.DS_Store
