### Serverless ###
# Ignore build directory
.serverless

# Ignore S3 local directory
.buckets

### Node ###
# Dependency directories
node_modules/

# TypeScript
*.js
*.js.map
!app/app.js

# Webpack
.webpack

### OS ###
# macOS
.DS_Store
