:root {
	--maincolor: #006a4e;
	--secondarycolor: #6a1300;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		"Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
}

body {
	margin: 0;
	font-family: "Lato", var(--font-family-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

header {
	margin: 1rem;
}

.header-image {
	background: url("./header_background.jpg") no-repeat center center;
	background-size: cover;
	padding-top: 12rem;
	padding-bottom: 12rem;
}

h1 {
	background-color: rgba(255, 255, 255, 0.8);
	color: var(--maincolor);
	font-size: 3rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.showcase {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 1rem;
}

.showcase > div {
	padding: 5rem;
}

.showcase-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.showcase-image-1 {
	background-image: url("./showcase_1.jpg");
}

.showcase-image-2 {
	background-image: url("./showcase_2.jpg");
}

.instruction {
	padding: 3rem;
	margin: 1rem;
}

.generator {
	background-color: var(--maincolor);
	padding: 5rem;
}

.generator form {
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.generator form textarea {
	font-family: "Lato", var(--font-family-sans-serif);
	font-size: 1rem;
	height: 10rem;
	margin-bottom: 2rem;
}

.generator form button {
	align-self: center;
	background-color: var(--secondarycolor);
	border: 1px solid transparent;
	border-radius: 0.25rem;
	color: white;
	cursor: pointer;
	font-family: "Lato", var(--font-family-sans-serif);
	font-size: 1rem;
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

footer p {
	background-color: black;
	color: white;
	font-size: 0.75rem;
	margin: 0;
	padding: 1rem;
	text-align: right;
}
